@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap");

@layer components {
    .btn-primary {
        @apply cursor-pointer border border-transparent bg-primary-light text-white transition-colors duration-200 hover:border-primary-light   hover:bg-white hover:text-primary-light disabled:!cursor-default  disabled:border-gray-200  disabled:bg-white disabled:!text-gray-200;
    }
    .ellipsis {
        @apply overflow-hidden text-ellipsis whitespace-nowrap;
    }
    .abs-center {
        @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
    }
    .flex-col-cen {
        @apply flex flex-col items-center justify-center;
    }
    .flex-cen {
        @apply flex flex-row items-center justify-center;
    }
    .mobile-sm {
        @apply visible block sm:invisible  sm:hidden;
    }
    .mobile-md {
        @apply visible block md:invisible  md:hidden;
    }
    .mobile-lg {
        @apply visible block lg:invisible  lg:hidden;
    }
    .desktop-sm {
        @apply invisible hidden sm:visible  sm:block;
    }
    .desktop-md {
        @apply invisible hidden md:!visible  md:block;
    }
    .desktop-lg {
        @apply invisible hidden lg:!visible  lg:block;
    }
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Sarabun", "Noto Sans Thai", "Kanit";
    scroll-behavior: auto;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid #555;
}

.custom-text-shadow-black {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
}

.custom-text-shadow-white {
    text-shadow: -1.5px -1.5px 0 #fff, 1.5px -1.5px 0 #fff, -1.5px 1.5px 0 #fff,
        1.5px 1.5px 0 #fff;
}

.new-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 12px 10px;
    border-color: transparent transparent rgba(0,0,0,0.8) transparent;
}

.new-triangle-sm {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 8px 7px;
    border-color: transparent transparent rgba(0,0,0,0.8) transparent;
}

.radial-circle {
    background: rgb(122, 201, 255);
    background: radial-gradient(
        circle,
        rgba(122, 201, 255, 1) 0%,
        rgba(68, 117, 130, 0) 49%
    );
}

.bg-radial-yellow {
    /* Created with https://www.css-gradient.com */
    background: -webkit-radial-gradient(circle, #ffd55c6b, #ffffff00);
    background: -moz-radial-gradient(circle, #ffd55c6b, #ffffff00);
    background: radial-gradient(circle, #ffd55c6b 0%, #ffffff00 100%);
}

.gradient-blue {
    background: rgb(90, 189, 255);
    background: linear-gradient(
        0deg,
        rgba(90, 189, 255, 0.34217436974789917) 0%,
        rgba(90, 189, 255, 0) 100%
    );
}

.gradient-white {
    background: rgb(255, 255, 255);
    background: linear-gradient(
        270deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(90, 189, 255, 0) 100%
    );
}

.white-transparent {
    background-color: red;
}

::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background-color: #e7e7e7;
}
::-webkit-scrollbar-thumb {
    background-color: #8d8d8d;
    border-radius: 10px;
}

.inner-shadow {
    box-shadow: inset 0px 0px 60px 10px rgba(0, 0, 0, 0.3);
}

.inner-shadow-2 {
    -webkit-box-shadow: inset 0px 0px 126px -54px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: inset 0px 0px 126px -54px rgba(0, 0, 0, 0.43);
    box-shadow: inset 0px 0px 126px -54px rgba(0, 0, 0, 0.43);
}

.st0 {
    fill: none;
    stroke-width: 1.5;
    stroke-miterlimit: 10;
}

.labels {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid red;
    padding: 10px 5px;
}
